<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Before-you-start-:" data-toc-modified-id="Before-you-start-:-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Before you start :</a></span><ul class="toc-item"><li><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#Import-all-the-libraries-that-are-necessary" data-toc-modified-id="Import-all-the-libraries-that-are-necessary-1.0.0.1"><span class="toc-item-num">1.0.0.1&nbsp;&nbsp;</span>Import all the libraries that are necessary</a></span></li></ul></li></ul></li></ul></li><li><span><a href="#Challenge-1" data-toc-modified-id="Challenge-1-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Challenge 1</a></span><ul class="toc-item"><li><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#In-this-challenge-we-will-use-the-Temp_States.csv-file." data-toc-modified-id="In-this-challenge-we-will-use-the-Temp_States.csv-file.-2.0.0.1"><span class="toc-item-num">2.0.0.1&nbsp;&nbsp;</span>In this challenge we will use the <code>Temp_States.csv</code> file.</a></span></li><li><span><a href="#First-import-it-into-a-data-frame-called-temp." data-toc-modified-id="First-import-it-into-a-data-frame-called-temp.-2.0.0.2"><span class="toc-item-num">2.0.0.2&nbsp;&nbsp;</span>First import it into a data frame called <code>temp</code>.</a></span></li><li><span><a href="#Print-temp" data-toc-modified-id="Print-temp-2.0.0.3"><span class="toc-item-num">2.0.0.3&nbsp;&nbsp;</span>Print <code>temp</code></a></span></li><li><span><a href="#Explore-the-data-types-of-the-Temp-dataframe.-What-type-of-data-do-we-have?-Comment-your-result." data-toc-modified-id="Explore-the-data-types-of-the-Temp-dataframe.-What-type-of-data-do-we-have?-Comment-your-result.-2.0.0.4"><span class="toc-item-num">2.0.0.4&nbsp;&nbsp;</span>Explore the data types of the Temp dataframe. What type of data do we have? Comment your result.</a></span></li><li><span><a href="#Select-the-rows-where-state-is-New-York" data-toc-modified-id="Select-the-rows-where-state-is-New-York-2.0.0.5"><span class="toc-item-num">2.0.0.5&nbsp;&nbsp;</span>Select the rows where state is New York</a></span></li><li><span><a href="#What-is-the-average-of-the-temperature-of-cities-in-New-York?" data-toc-modified-id="What-is-the-average-of-the-temperature-of-cities-in-New-York?-2.0.0.6"><span class="toc-item-num">2.0.0.6&nbsp;&nbsp;</span>What is the average of the temperature of cities in New York?</a></span></li><li><span><a href="#We-want-to-know-cities-and-states-with-Temperature-above-15-degress-Celcius" data-toc-modified-id="We-want-to-know-cities-and-states-with-Temperature-above-15-degress-Celcius-2.0.0.7"><span class="toc-item-num">2.0.0.7&nbsp;&nbsp;</span>We want to know cities and states with Temperature above 15 degress Celcius</a></span></li><li><span><a href="#Now,-return-only-the-cities-that-have-a-temperature-above-15-degress-Celcius" data-toc-modified-id="Now,-return-only-the-cities-that-have-a-temperature-above-15-degress-Celcius-2.0.0.8"><span class="toc-item-num">2.0.0.8&nbsp;&nbsp;</span>Now, return only the cities that have a temperature above 15 degress Celcius</a></span></li><li><span><a href="#We-want-to-know-which-cities-have-a-temperature-above-15-degrees-Celcius-and-below-20-degrees-Celcius" data-toc-modified-id="We-want-to-know-which-cities-have-a-temperature-above-15-degrees-Celcius-and-below-20-degrees-Celcius-2.0.0.9"><span class="toc-item-num">2.0.0.9&nbsp;&nbsp;</span>We want to know which cities have a temperature above 15 degrees Celcius and below 20 degrees Celcius</a></span></li><li><span><a href="#Find-the-mean-and-the-standard-deviation-of-the-temperature-of-each-state." data-toc-modified-id="Find-the-mean-and-the-standard-deviation-of-the-temperature-of-each-state.-2.0.0.10"><span class="toc-item-num">2.0.0.10&nbsp;&nbsp;</span>Find the mean and the standard deviation of the temperature of each state.</a></span></li></ul></li></ul></li></ul></li><li><span><a href="#Challenge-2" data-toc-modified-id="Challenge-2-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Challenge 2</a></span><ul class="toc-item"><li><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#Load-the-employee.csv-file-into-a-DataFrame.-Call-the-dataframe-employee" data-toc-modified-id="Load-the-employee.csv-file-into-a-DataFrame.-Call-the-dataframe-employee-3.0.0.1"><span class="toc-item-num">3.0.0.1&nbsp;&nbsp;</span>Load the <code>employee.csv</code> file into a DataFrame. Call the dataframe <code>employee</code></a></span></li><li><span><a href="#Explore-the-data-types-of-the-Temp-dataframe.-Comment-your-results" data-toc-modified-id="Explore-the-data-types-of-the-Temp-dataframe.-Comment-your-results-3.0.0.2"><span class="toc-item-num">3.0.0.2&nbsp;&nbsp;</span>Explore the data types of the Temp dataframe. Comment your results</a></span></li><li><span><a href="#Show-visually-the-frequency-distribution-(histogram)-of-the-employee-dataset.-In-few-words-describe-these-histograms?" data-toc-modified-id="Show-visually-the-frequency-distribution-(histogram)-of-the-employee-dataset.-In-few-words-describe-these-histograms?-3.0.0.3"><span class="toc-item-num">3.0.0.3&nbsp;&nbsp;</span>Show visually the frequency distribution (histogram) of the employee dataset. In few words describe these histograms?</a></span></li><li><span><a href="#What's-the-average-salary-in-this-company?" data-toc-modified-id="What's-the-average-salary-in-this-company?-3.0.0.4"><span class="toc-item-num">3.0.0.4&nbsp;&nbsp;</span>What's the average salary in this company?</a></span></li><li><span><a href="#What's-the-highest-salary?" data-toc-modified-id="What's-the-highest-salary?-3.0.0.5"><span class="toc-item-num">3.0.0.5&nbsp;&nbsp;</span>What's the highest salary?</a></span></li><li><span><a href="#What's-the-lowest-salary?" data-toc-modified-id="What's-the-lowest-salary?-3.0.0.6"><span class="toc-item-num">3.0.0.6&nbsp;&nbsp;</span>What's the lowest salary?</a></span></li><li><span><a href="#Who-are-the-employees-with-the-lowest-salary?" data-toc-modified-id="Who-are-the-employees-with-the-lowest-salary?-3.0.0.7"><span class="toc-item-num">3.0.0.7&nbsp;&nbsp;</span>Who are the employees with the lowest salary?</a></span></li><li><span><a href="#Could-you-give-all-the-information-about-an-employee-called-David?" data-toc-modified-id="Could-you-give-all-the-information-about-an-employee-called-David?-3.0.0.8"><span class="toc-item-num">3.0.0.8&nbsp;&nbsp;</span>Could you give all the information about an employee called David?</a></span></li><li><span><a href="#Could-you-give-only-David's-salary?" data-toc-modified-id="Could-you-give-only-David's-salary?-3.0.0.9"><span class="toc-item-num">3.0.0.9&nbsp;&nbsp;</span>Could you give only David's salary?</a></span></li><li><span><a href="#Print-all-the-rows-where-job-title-is-associate" data-toc-modified-id="Print-all-the-rows-where-job-title-is-associate-3.0.0.10"><span class="toc-item-num">3.0.0.10&nbsp;&nbsp;</span>Print all the rows where job title is associate</a></span></li><li><span><a href="#Print-the-first-3-rows-of-your-dataframe" data-toc-modified-id="Print-the-first-3-rows-of-your-dataframe-3.0.0.11"><span class="toc-item-num">3.0.0.11&nbsp;&nbsp;</span>Print the first 3 rows of your dataframe</a></span></li><li><span><a href="#Find-the-employees-who's-title-is-associate-and-the-salary-above-55?" data-toc-modified-id="Find-the-employees-who's-title-is-associate-and-the-salary-above-55?-3.0.0.12"><span class="toc-item-num">3.0.0.12&nbsp;&nbsp;</span>Find the employees who's title is associate and the salary above 55?</a></span></li><li><span><a href="#Group-the-employees-based-on-their-number-of-years-of-employment.-What-are-the-average-salaries-in-each-group?" data-toc-modified-id="Group-the-employees-based-on-their-number-of-years-of-employment.-What-are-the-average-salaries-in-each-group?-3.0.0.13"><span class="toc-item-num">3.0.0.13&nbsp;&nbsp;</span>Group the employees based on their number of years of employment. What are the average salaries in each group?</a></span></li><li><span><a href="#What-is-the-average-Salary-per-title?" data-toc-modified-id="What-is-the-average-Salary-per-title?-3.0.0.14"><span class="toc-item-num">3.0.0.14&nbsp;&nbsp;</span>What is the average Salary per title?</a></span></li><li><span><a href="#Show-a-visual-summary-of-the-data-using-boxplot.-What-Are-the-First-and-Third-Quartiles?-Comment-your-results." data-toc-modified-id="Show-a-visual-summary-of-the-data-using-boxplot.-What-Are-the-First-and-Third-Quartiles?-Comment-your-results.-3.0.0.15"><span class="toc-item-num">3.0.0.15&nbsp;&nbsp;</span>Show a visual summary of the data using boxplot. What Are the First and Third Quartiles? Comment your results.</a></span></li><li><span><a href="#Is-the-mean-salary-per-gender-different?" data-toc-modified-id="Is-the-mean-salary-per-gender-different?-3.0.0.16"><span class="toc-item-num">3.0.0.16&nbsp;&nbsp;</span>Is the mean salary per gender different?</a></span></li><li><span><a href="#Find-the-minimum,-mean-and-the-maximum-of-all-numeric-columns-for-each-Department." data-toc-modified-id="Find-the-minimum,-mean-and-the-maximum-of-all-numeric-columns-for-each-Department.-3.0.0.17"><span class="toc-item-num">3.0.0.17&nbsp;&nbsp;</span>Find the minimum, mean and the maximum of all numeric columns for each Department.</a></span></li></ul></li><li><span><a href="#Bonus-Question" data-toc-modified-id="Bonus-Question-3.0.1"><span class="toc-item-num">3.0.1&nbsp;&nbsp;</span>Bonus Question</a></span><ul class="toc-item"><li><span><a href="#For-each-department,-compute-the-difference-between-the-maximal-salary-and-the-minimal-salary." data-toc-modified-id="For-each-department,-compute-the-difference-between-the-maximal-salary-and-the-minimal-salary.-3.0.1.1"><span class="toc-item-num">3.0.1.1&nbsp;&nbsp;</span>For each department, compute the difference between the maximal salary and the minimal salary.</a></span></li></ul></li></ul></li></ul></li><li><span><a href="#Challenge-3" data-toc-modified-id="Challenge-3-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Challenge 3</a></span><ul class="toc-item"><li><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#Open-the-Orders.csv-dataset.-Name-your-dataset-orders" data-toc-modified-id="Open-the-Orders.csv-dataset.-Name-your-dataset-orders-4.0.0.1"><span class="toc-item-num">4.0.0.1&nbsp;&nbsp;</span>Open the Orders.csv dataset. Name your dataset orders</a></span></li><li><span><a href="#Explore-your-dataset-by-looking-at-the-data-types-and-the-summary-statistics.-Comment-your-results" data-toc-modified-id="Explore-your-dataset-by-looking-at-the-data-types-and-the-summary-statistics.-Comment-your-results-4.0.0.2"><span class="toc-item-num">4.0.0.2&nbsp;&nbsp;</span>Explore your dataset by looking at the data types and the summary statistics. Comment your results</a></span></li><li><span><a href="#What-is-the-average-Purchase-Price?" data-toc-modified-id="What-is-the-average-Purchase-Price?-4.0.0.3"><span class="toc-item-num">4.0.0.3&nbsp;&nbsp;</span>What is the average Purchase Price?</a></span></li><li><span><a href="#What-were-the-highest-and-lowest-purchase-prices?" data-toc-modified-id="What-were-the-highest-and-lowest-purchase-prices?-4.0.0.4"><span class="toc-item-num">4.0.0.4&nbsp;&nbsp;</span>What were the highest and lowest purchase prices?</a></span></li><li><span><a href="#Select-all-the-customers-we-have-in-Spain" data-toc-modified-id="Select-all-the-customers-we-have-in-Spain-4.0.0.5"><span class="toc-item-num">4.0.0.5&nbsp;&nbsp;</span>Select all the customers we have in Spain</a></span></li><li><span><a href="#How-many-customers-do-we-have-in-Spain?" data-toc-modified-id="How-many-customers-do-we-have-in-Spain?-4.0.0.6"><span class="toc-item-num">4.0.0.6&nbsp;&nbsp;</span>How many customers do we have in Spain?</a></span></li><li><span><a href="#Select-all-the-customers-who-have-bought-more-than-50-items-?" data-toc-modified-id="Select-all-the-customers-who-have-bought-more-than-50-items-?-4.0.0.7"><span class="toc-item-num">4.0.0.7&nbsp;&nbsp;</span>Select all the customers who have bought more than 50 items ?</a></span></li><li><span><a href="#Select-orders-from-Spain-that-are-above-50-items" data-toc-modified-id="Select-orders-from-Spain-that-are-above-50-items-4.0.0.8"><span class="toc-item-num">4.0.0.8&nbsp;&nbsp;</span>Select orders from Spain that are above 50 items</a></span></li><li><span><a href="#Select-all-free-orders" data-toc-modified-id="Select-all-free-orders-4.0.0.9"><span class="toc-item-num">4.0.0.9&nbsp;&nbsp;</span>Select all free orders</a></span></li><li><span><a href="#Select-all-orders-that-are-'lunch-bag'" data-toc-modified-id="Select-all-orders-that-are-'lunch-bag'-4.0.0.10"><span class="toc-item-num">4.0.0.10&nbsp;&nbsp;</span>Select all orders that are 'lunch bag'</a></span></li><li><span><a href="#Select-all-orders-that-are-made-in-2011-and-are-'lunch-bag'" data-toc-modified-id="Select-all-orders-that-are-made-in-2011-and-are-'lunch-bag'-4.0.0.11"><span class="toc-item-num">4.0.0.11&nbsp;&nbsp;</span>Select all orders that are made in 2011 and are 'lunch bag'</a></span></li><li><span><a href="#Show-the-frequency-distribution-of-the-amount-spent-in-Spain." data-toc-modified-id="Show-the-frequency-distribution-of-the-amount-spent-in-Spain.-4.0.0.12"><span class="toc-item-num">4.0.0.12&nbsp;&nbsp;</span>Show the frequency distribution of the amount spent in Spain.</a></span></li><li><span><a href="#Select-all-orders-made-in-the-month-of-August" data-toc-modified-id="Select-all-orders-made-in-the-month-of-August-4.0.0.13"><span class="toc-item-num">4.0.0.13&nbsp;&nbsp;</span>Select all orders made in the month of August</a></span></li><li><span><a href="#Select-how-many-orders-are-made-by-countries-in-the-month-of-August" data-toc-modified-id="Select-how-many-orders-are-made-by-countries-in-the-month-of-August-4.0.0.14"><span class="toc-item-num">4.0.0.14&nbsp;&nbsp;</span>Select how many orders are made by countries in the month of August</a></span></li><li><span><a href="#What's-the--average-amount-of-money-spent-by-country" data-toc-modified-id="What's-the--average-amount-of-money-spent-by-country-4.0.0.15"><span class="toc-item-num">4.0.0.15&nbsp;&nbsp;</span>What's the  average amount of money spent by country</a></span></li><li><span><a href="#What's-the-most-expensive-item?" data-toc-modified-id="What's-the-most-expensive-item?-4.0.0.16"><span class="toc-item-num">4.0.0.16&nbsp;&nbsp;</span>What's the most expensive item?</a></span></li><li><span><a href="#What-was-the-average-amount-spent-per-year-?" data-toc-modified-id="What-was-the-average-amount-spent-per-year-?-4.0.0.17"><span class="toc-item-num">4.0.0.17&nbsp;&nbsp;</span>What was the average amount spent per year ?</a></span></li></ul></li></ul></li></ul></li></ul></div>

# Before you start :
   - These exercises are related to the Subsetting and Descriptive Stats lessons.
   - Keep in mind that you need to use some of the functions you learned in the previous lessons.
   - All datasets are provided in the `your-code` folder of this lab.
   - Elaborate your codes and outputs as much as you can.
   - Try your best to answer the questions and complete the tasks and most importantly enjoy the process!!!

In [26]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

#### Import all the libraries that are necessary

In [1]:
# import libraries here

import pandas as pd
import numpy as np

# Challenge 1

#### In this challenge we will use the `Temp_States.csv` file. 

#### First import it into a data frame called `temp`.

In [2]:
# your answer here

file = "/Users/krist/Ironhack_Labs/M2/lab-subsetting-and-descriptive-stats/your-code/Temp_States.csv"
temp = pd.read_csv(file)

#### Print `temp`

In [3]:
temp

         City        State  Temperature
0         NYC     New York    19.444444
1      Albany     New York     9.444444
2     Buffalo     New York     3.333333
3    Hartford  Connecticut    17.222222
4  Bridgeport  Connecticut    14.444444
5      Treton   New Jersey    22.222222
6      Newark   New Jersey    20.000000

#### Explore the data types of the Temp dataframe. What type of data do we have? Comment your result.

In [4]:
# your answer here

temp.dtypes

#we have two object columns and one float column

City            object
State           object
Temperature    float64
dtype: object

#### Select the rows where state is New York

In [5]:
# your answer here

temp[temp.State == 'New York']

      City     State  Temperature
0      NYC  New York    19.444444
1   Albany  New York     9.444444
2  Buffalo  New York     3.333333

#### What is the average of the temperature of cities in New York?

In [8]:
# your answer here

df = temp[temp.State == 'New York']
df.groupby('City').Temperature.mean()

#or could do like this
#temp[temp.State == 'New York'].groupby('City').Temperature.mean()

City
Albany      9.444444
Buffalo     3.333333
NYC        19.444444
Name: Temperature, dtype: float64

#### We want to know cities and states with Temperature above 15 degress Celcius

In [16]:
# your answer here

#don't know how to show only two columns, can show one like that:
#temp.loc[temp.Temperature > 15, 'City']

temp.loc[temp.Temperature > 15]

       City        State  Temperature
0       NYC     New York    19.444444
3  Hartford  Connecticut    17.222222
5    Treton   New Jersey    22.222222
6    Newark   New Jersey    20.000000

#### Now, return only the cities that have a temperature above 15 degress Celcius

In [17]:
# your answer here

temp.loc[temp.Temperature > 15, 'City']

0         NYC
3    Hartford
5      Treton
6      Newark
Name: City, dtype: object

#### We want to know which cities have a temperature above 15 degrees Celcius and below 20 degrees Celcius

*Hint: First write the condition then select the rows.*

In [21]:
# your answer here

temp.loc[(temp.Temperature > 15) & (temp.Temperature < 20), 'City']

0         NYC
3    Hartford
Name: City, dtype: object

#### Find the mean and the standard deviation of the temperature of each state.

*Hint: Use functions from Data Manipulation lesson*

In [27]:
# your answer here

temp.groupby('State').Temperature.std()
temp.groupby('State').Temperature.mean()

State
Connecticut    1.964186
New Jersey     1.571348
New York       8.133404
Name: Temperature, dtype: float64

State
Connecticut    15.833333
New Jersey     21.111111
New York       10.740741
Name: Temperature, dtype: float64

# Challenge 2

#### Load the `employee.csv` file into a DataFrame. Call the dataframe `employee`

In [10]:
# your answer here

#### Explore the data types of the Temp dataframe. Comment your results

In [11]:
# your answer here

#### Show visually the frequency distribution (histogram) of the employee dataset. In few words describe these histograms?

In [12]:
# your answer here

#### What's the average salary in this company?

In [13]:
# your answer here

#### What's the highest salary?

In [14]:
# your answer here

#### What's the lowest salary?

In [15]:
# your answer here

#### Who are the employees with the lowest salary?

In [16]:
# your answer here

#### Could you give all the information about an employee called David?

In [17]:
# your answer here

#### Could you give only David's salary?

In [18]:
# your answer here

#### Print all the rows where job title is associate

In [19]:
# your answer here

#### Print the first 3 rows of your dataframe

Hint : There are 3 ways to do it. Do it all ways.

In [20]:
# your answer here- 1 method

In [21]:
# your answer here- 2nd method

In [22]:
# your answer here- 3nd method

#### Find the employees who's title is associate and the salary above 55?

In [23]:
# your answer here

#### Group the employees based on their number of years of employment. What are the average salaries in each group?

In [24]:
# your answer here

####  What is the average Salary per title?

In [25]:
# your answer here

#### Show a visual summary of the data using boxplot. What Are the First and Third Quartiles? Comment your results.
##### * Hint : Quantiles vs Quartiles*
##### - `In Probability and Statistics, quantiles are cut points dividing the range of a probability distribution into continuous intervals with equal probabilities. When division is into four parts the values of the variate corresponding to 25%, 50% and 75% of the total distribution are called quartiles.`

In [26]:
# draw boxplot here

In [27]:
# print first quartile here

In [28]:
# print third quartile here

#### Is the mean salary per gender different?

In [29]:
# your answer here

#### Find the minimum, mean and the maximum of all numeric columns for each Department.

##### Hint: Use functions from Data Manipulation lesson

In [30]:
# your answer here

### Bonus Question

#### For each department, compute the difference between the maximal salary and the minimal salary.

##### * Hint: try using `agg` or `apply` and `lambda`*

In [31]:
# your answer here

# Challenge 3

#### Open the Orders.csv dataset. Name your dataset orders

In [32]:
# your answer here

#### Explore your dataset by looking at the data types and the summary statistics. Comment your results

In [33]:
# your answer here

In [34]:
# your answer here

####  What is the average Purchase Price?

In [35]:
# your answer here

#### What were the highest and lowest purchase prices?

In [36]:
# your answer here

In [37]:
# your answer here

#### Select all the customers we have in Spain

In [38]:
# your answer here

#### How many customers do we have in Spain?
##### Hint : Use value_counts()

In [39]:
# your answer here

#### Select all the customers who have bought more than 50 items ?

In [40]:
# your answer here

#### Select orders from Spain that are above 50 items

In [41]:
# your answer here

#### Select all free orders

In [42]:
# your answer here

#### Select all orders that are 'lunch bag'
Hint: Use string functions

In [43]:
# your answer here

#### Select all orders that are made in 2011 and are 'lunch bag'

In [44]:
# your answer here

#### Show the frequency distribution of the amount spent in Spain.

In [45]:
# your answer here

#### Select all orders made in the month of August

In [46]:
# your answer here

#### Select how many orders are made by countries in the month of August
##### Hint: Use value_counts()

In [47]:
# your answer here

#### What's the  average amount of money spent by country

In [48]:
# your answer here

#### What's the most expensive item?

In [49]:
# your answer here

#### What was the average amount spent per year ?

In [50]:
# your answer here